# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


/backend-strapi-cms/node_modules
/frontend-nextjs/node_modules

##
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
#up

# testing
/coverage

/backend-strapi-cms/coverage
/frontend-nextjs/coverage

# next.js
/.next/
/out/

/backend-strapi-cms/.next
/frontend-nextjs/out

# production
/build

/backend-strapi-cms/build
/frontend-nextjs/build

#/frontend-nextjs/generated/prisma

/frontend-nextjs/prisma/*.db


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
#.env*
#/frontend-nextjs/.env*



# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/test

